* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.weather__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.weather__details, .location__details {
    text-align: center;
    margin-bottom: 20px;
}

.weather__icon {
    width: 100px;
    height: auto;
}

.weather__temperature {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}

.location__title {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.location__data {
    margin-bottom: 5px;
}

.location__day, .location__time {
    font-size: 1.2rem;
}

.location__condition {
    font-size: 1rem;
    font-weight: bold;
}
